.list-container {
  text-align: center;
  height: auto;
  margin: 50px -2%;
}

.list-container__item {
  flex-basis: 16%;
  margin-bottom: 70px;
  padding: 0 2%;
  position: relative;
}

h1.App-main-title {
  text-align: center;
}

.img__beer-image {
  width: 185px;
  height: 10px;
  margin: 0 auto 15px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}

.list__movie-title {
  display: block;
  font-size: 16px;
  color: #fff;
}

.list__beer-first-brewed {
  background-color: #f0a70d;
  position: absolute;
  top: -10px;
  border-radius: 10px;
  padding: 2px 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}
