.bdb-beering {
  height: 95px;
  text-align: center;
  padding: 65px;
  /* border: 0.3px solid white; */
  font-size: 15px;
  font-weight: bold;
}

.bdb-beerthumb {
  float: left;
  text-align: center;
  font-size: 10px;
  margin-top: 30px;
}

button.bdb-bearing {
  display: block;

  margin-left: 34px;
}
